.mdc-text-field, .mdc-text-field__input {
  border-radius: 5px;
  height: 66px;
  width: 100%;
}

.mdc-text-field {
  position: relative;
  display: inline-flex;
  align-items: flex-end;

  &:not(:last-child) { margin-bottom: 12px; }
  background-color: transparentize(#b5b5b5, 0.53);
}

@-webkit-keyframes onAutoFillStart {
  to {
    color: white;
    background: transparent;
  }
}

.mdc-text-field__input, .mdc-floating-label {
  font-family: 'Avenir LT Std 65 Medium';
  line-height: 25px;
  font-size: 18px;
  color: white;
}

.mdc-text-field__input {
  padding: 12px 24px;

  background: none;
  appearance: none;

  transition: opacity 180ms cubic-bezier(0.4, 0, 0.2, 1);

  &:-webkit-autofill, &:-webkit-autofill:hover,
  &:-webkit-autofill:focus, &:-webkit-autofill:active {
    animation-name: onAutoFillStart;
    animation-fill-mode: both;
  }

  &--focused { padding-top: 32px; }
}

.mdc-floating-label {
  // Initial position
  position: absolute;
  top: calc(50% - 11px);
  left: 24px;

  cursor: text;
  pointer-events: none;

  will-change: font-size, line-height, top, color;
  transform-origin: left top;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);

  &--float-above {
    cursor: auto;
    font-size: 14px;
    line-height: 19px;
    top: 12px;
    color: transparentize(white, 0.46);
  }
}

// font-___ 29px;