input[type='submit'] {
  width: 100%;
  cursor: pointer;
  margin-top: 50px;
  padding: 14px 114px;

  font-family: 'Avenir LT Std 65 Medium';
  font-size: 18px;
  color: black;
  background-color: white;

  border-radius: 5px;
  box-shadow: 0px 3px 6px transparentize(black, 0.46);
}