@font-face {
  font-family: 'Avenir LT Std';
  font-style: normal;
  font-weight: 200;
  src: url('./AvenirLTStd-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir LT Std';
  font-style: normal;
  font-weight: 400;
  src: url('AvenirLTStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir LT Std';
  font-style: normal;
  font-weight: 600;
  src: url('AvenirLTStd-Roman.otf') format('opentype');
}