@font-face {
  font-family: 'Avenir LT Std 45 Book';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 45 Book'), url('AvenirLTStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'Avenir LT Std 65 Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir LT Std 65 Medium'), url('AvenirLTStd-Medium.woff') format('woff');
}
