main {
  margin: $main-margin 0;
  height: calc(100vh - #{$footer-height} - 2*#{$main-margin});
  min-height: min-content;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

header {
  margin-bottom: 46px;

  h1 {
    text-align: center;
    font-size: 34px;
    line-height: 46px;
  }
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 295px;
}