.service_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 18px;
}

.service {
  height: 40px;
  width: 40px;

  background-color: transparentize(white, 0.53);
  mask-size: contain;
  mask-position: center center;
  mask-repeat: no-repeat;

  &:nth-child(2) { margin: 0 15px; }

  &.selected {
    height: 70px;
    width: 70px;
    background-color: white;
    cursor: initial;
    pointer-events: none;
  }

  &_kodi { mask-image: $kodi-logo; }
  &_owncloud { mask-image: $owncloud-logo; }
  &_torrent { mask-image: $torrent-logo; }
}